.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.accordion-container {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin-top: 30px;
}



/* Version mobile */
@media (max-width: 768px) {
  .banner-about {
    height: 150px;
    border-radius: 10px;
  }

  .accordion-container {
    padding: 0 10px;
  }
}